.navbar {
  .hasMegaMenu {
    position: static;

    div.dropdown-menu.show {
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 0;
      border: 0;
      padding: 0;
      background-color: #ededed; //TODO: USE CSS variable

      .dropdown-item {
        &:hover {
          text-decoration: underline;
        }
        &:active,
        &:focus {
          background-color: inherit;
        }
      }
    }
  }
}
