.banner {
  background: white; //linear-gradient(90deg, #031974, #1934a7);
  padding: 100px 0;

  .image {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    img {
      max-width: 100%;
    }
  }
}
