.cardCustom {
  .card {
    min-height: 15rem;
    border-color: #e5e5e5;
    background: white; //Set using varible
    transition: box-shadow 0.3s;
    .icon {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(241, 230, 255);
    }
  }

  .flat {
    border: 0;
  }

  .transparent {
    background: transparent;
  }

  .hover {
    &:hover {
      box-shadow: 0 0.25rem 1.875rem rgb(42 53 79 / 17%);
    }
  }
}
